
$backgroundCard: black;
$fontColor: white;
$widthCard: 188px;
$heightCard: 370px;

.movieCard {
  background: $backgroundCard;
  width: $widthCard;
  height: $heightCard;
  margin-left: 30px;

  & .posterImage {
    width: $widthCard;
    height: 282px;
    & img:hover {
      transform: translateY(-10px);
      transition: 0.2 all linear;
    }
  }

  & .infoContainer {
    width: $widthCard;
    height: 88px;
    color: $fontColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .title {
      text-align: center;
    }
  }
}
