$fontColor: white;

.movieTableContainer {
  width: 100vw;
  height: 120px;
  & .title{
    color: $fontColor;
  }

  & .sliderContainer{
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}

