$fontColor: white;

.movieTableContainer {
  width: 90vw;
  height: 25%;
  & .header {

    & .title {
      color: $fontColor;
    }

    & .line {
      width: 100%;
      background: red;
      height: 2px;
    }

  }

  & .sliderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x:scroll;
  }
}

